<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Appel tags for PWA -->
    <link rel="apple-touch-icon" href="/src/images/focus_icon/96x96.png">
    <link rel="apple-touch-startup-image" href="/src/images/splash320x480.png" />
    <link rel="apple-touch-startup-image" sizes="640x960" href="/src/images/splash640x960.png" />
    <meta name="apple-mobile-web-app-title" content="Focus">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Android tags for PWA -->
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="/css/main.css">
    <title>alaviner</title>
</head>
<body>
    <h1>Hello world!</h1>

    <script src="/javascript/main.js"></script>
</body>
</html>